/.gradle
/.idea
/out
/build
*.iml
*.ipr
*.iws
.sessions/
build.properties
cops.old/
cops/
keystore.jks
messages
resources/application-dev.conf
resources/application.conf
resources/static/
uploads/
users/
